.characterCollection {
    display: flex;
    /* flex-wrap: wrap; */
    margin: 20px;
    /* justify-content: center; */
    overflow: auto;
}

body {
    background-color:black;
}

img {
    width: 100px;
    padding-top: 10px;
}
