.nav {
    background-color: red;
    font-size: 30px;
    justify-content: space-around;
    /* padding: 0px 40vh 0px 40vh; */
    display: flex;

}

.nav-header {
    color: white;
    font-size: 40px;
   
}