/* .nav {
    background-color: red;
    font-size: 30px;
    justify-content: space-around;
    display: flex;
}

.nav-header {
    color: white;
    font-size: 40px;
} */

.logout-btn {
    float: right;
    margin: 5px;
    padding: 5px;
}