.batCharContainer{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.batPlanetContainer{
    margin: 20px;
    border-radius: 10px;
    font-size: 12px;
    color: black;
    /* align-items:center; */
    /* justify-content: center; */
    /* margin: auto; */
    display: flex;
}

.batPlanetContainer .planetCard {
    max-width: 300px;
    max-height: 250px;
    align-items: center;
}

.batPlanet {
    margin-left: 40%;
}

.weapon-text {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.weapon-text-container {
    display: flex;
    justify-content: space-between;
}

.weapon-div-one {
    background-color: red;
    margin-left: 30px;
}

.weapon-div-two {
    background-color: red;
    margin-right: 30px;
}

.wea {
    margin-bottom: 10px;
}

.weapon-list {
    list-style-type: none;
}


